@import 'variables';

.flex {
  display: flex;

  > .flex-auto {
    flex: auto;
  }

  > .flex-1 {
    flex: 1;
  }

  > .flex-2 {
    flex: 2;
  }
}

[class^="flex-"] {
  margin: 2px;
  padding: 2px;
  overflow: auto;
}
.tweet {
  min-width: 200px;
}

.table-header {
  > [class^="flex-"] {
    color: $gray;
  }
}
.table-body {
  .replies, .retweets {
    color: $gray;
  }
}

@media (max-width: 500px) {
  .table-header {
    display: none;
  }

  .table-body {
    position: relative;
    margin-bottom: .5em;
    flex-direction: column;

    > [class^="flex-"] {
      margin-left: 140px;

      &:before {
        position: absolute;
        left:0;
        max-width: 140px;
        content: attr(data-head) ": ";
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}