<div class="flex table-header">
  <div class="flex-2">Tweet</div>
  <div class="flex-1">Likes</div>
  <div class="flex-1">Replies</div>
  <div class="flex-1">Retweets</div>
  <div class="flex-1">Hashtags</div>
  <div class="flex-1">Date</div>
</div>
<div *ngFor="let item of items" class="flex table-body">
  <div class="flex-2" data-head="Tweet">
    {{item.text}}
  </div>
  <div class="flex-1" data-head="Likes">
    {{item.likes}}
  </div>
  <div class="flex-1 replies" data-head="Replies">
    {{item.replies}}
  </div>
  <div class="flex-1 retweets" data-head="Retweets">
    {{item.retweets}}
  </div>
  <div class="flex-1" data-head="Hashtags">
      <span *ngFor="let hashtag of item.hashtags"> {{hashtag}} </span>
  </div>
  <div class="flex-1" data-head="Date">
    {{item.date}}
  </div>
</div>