<div class="common-search-container">
  <label for="hashtag-search-input">
    <p>Hashtag serach</p>
    <input
      id="hashtag-search-input"
      type="text"
      placeholder="Search by Hashtag"
      [formControl]="searchInput">
    <div class="icon-search-container">
      <div class="icon-search"></div>
    </div>
  </label>
</div>
<div
  class="table-container"
  *ngIf="hasSearch">
  <app-i-table
    [items]="filterTweets"
    [isLoading]="isLoading">
  </app-i-table>
</div>
<app-i-pagination
  *ngIf="totalItemsLength"
  [totalItemsLength]="totalItemsLength"
  [perListItemsLength]="perListItemsLength"
  (onPageChange)="onPageChange($event)">
</app-i-pagination>