<div class="common-search-container">
  <label for="user-search-input">
    <p>User serach</p>
    <input
      id="user-search-input"
      type="text"
      (keyup)='onUserSearch.next($event)'>
    <div class="icon-search-container">
      <div class="icon-search"></div>
    </div>
  </label>
</div>
<div class="table-container">
  <app-i-table [items]="filterTweets">
  </app-i-table>
</div>
<app-i-pagination
  *ngIf="totalItemsLength"
  [totalItemsLength]="totalItemsLength"
  [perListItemsLength]="perListItemsLength"
  (onPageChange)="onPageChange($event)">
</app-i-pagination>